/* Color palette: 114B5F, 456990, E4FDE1, F45B69, 6B2737 */
/* Fonts: Tahoma (for anchors in headers, other large icons), Roboto (for normal text in header/footer), Verdana (for form/filler text) */

header {
    height: 150px;
    font-family: Roboto, serif;
    color: #043242;
}

header a {
    text-align: center;
    font-family: Tahoma, serif;
    font-size: 18px;
}

a:link {
    color: lightpink;
    text-decoration-line: none;
}

a:visited {
    color: #E4FDE1;
}

footer {
    position: fixed;
    bottom: 10px;
    font-family: Roboto, serif;
    color: #043242;
}

nav {
    width: 175px;
    float: left; /* forces the nav pane to the left so main content can still be aligned horizontally */
    left: 10px;
    top: 150px;
    
    font-family: Verdana, serif;
}

nav a {
    display: block;
    padding-bottom: 5px;
}

main {
    top: 150px;
    margin-left: 175px; /* make the left margin start where the nav pane ends */
    font-family: Verdana, serif;
    color: #043242;
}

main h2 {
    margin-top: 0; /* removes auto-margins from header elements in main so the content aligns with the nav pane */
}

main h3{
	color: #782b50;
}

form {
    top: 150px;
    left: 10px;
    font-family: Verdana, serif;

    background-color: #F45B69; /* makes the form itself white*/
    padding: 25px; /* adds space inside the form */ 
    border: 1px solid #cccccc; /* adds a subtle border around the form */
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); /* adds a shadow so the form looks like a card */
}

form label {
    margin-right: 5px;
}

form input {
    border-radius: 3px;
}

button {
	padding: 10px 20px;      /* Space inside the button */
    font-size: 16px;         /* Size of the text */
    border-radius: 5px;      /* Rounds the corners */
    cursor: pointer;         /* Shows hand cursor when hovering */
    background-color: #782b50;  /* we can change the color if we want to*/
    color: whitesmoke;
}


table {
	border: solid 1pt black;
	border-collapse: collapse;
}

td {
	border: solid 1pt black;
}

body {
    background-color: #567ba3; /* we can mess up with the color we want */
}


