/* We have all the basic requirements, but likely want to spend some time making the sute look nicer and just messing around with the CSS to get experience. */

header {
    height: 150px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

header a {
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 18px;
}

footer {
    position: fixed;
    bottom: 10px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    width: 175px;
    float: left; /* forces the nav pane to the left so main content can still be aligned horizontally */
    left: 10px;
    top: 150px;
    
    font-family: Geneva, Verdana, sans-serif;
}

nav a {
    display: block;
    padding-bottom: 5px;
}

main {
    top: 150px;
    margin-left: 175px; /* make the left margin start where the nav pane ends */
    font-family: Geneva, Verdana, sans-serif;
}

main h2 {
    margin-top: 0; /* removes auto-margins from header elements in main so the content aligns with the nav pane */
}

main h3{
	color:blue;
}


form {
    top: 150px;
    left: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* likely want to add some stylistic choices here */ I added some stuff below(Beatrice)
	
    background-color: white; /* makes the form itself white*/
    padding: 25px; */ adds space inside the form*/                       */ do we like this cardlike form or no?*/
    border: 1px solid #cccccc; */ adds a subtle border around the form*/
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); */ adds a shadow so the form looks like a card*/
}

form label {
    margin-right: 5px;
}

button {
	padding: 10px 20px;      /* Space inside the button */
    font-size: 16px;         /* Size of the text */
    border-radius: 5px;      /* Rounds the corners */
    cursor: pointer;         /* Shows hand cursor when hovering */
    background-color: gray;  /* we can change the color if we want to*/
}


table {
	border: solid 1pt black;
	border-collapse: collapse;
}

td {
	border: solid 1pt black;
}

body {
    background-color: lightgray; /* we can mess up with the color we want */
}
